*{
  font-family: 'Overpass', sans-serif;
}
html body{
background-color: hsl(216, 12%, 8%);

}

.rating_section{
 margin: 10rem auto 10rem auto;
 width: 350px;
 padding: 1.5rem 2rem 1.5rem 2rem;
 border-radius: 2em;
 border: none;
 background-color: hsl(212, 21%, 14%);
 color: white;
 
}

.rating_number{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.star{
  background-color:  hsl(215, 19%, 22%);;
  padding: 0.7rem;
  border-radius: 50%;
}

.main-title-rating{
  font-weight: 700;
  padding-bottom: 0.7rem;

}
