*{
  font-family: 'Overpass', sans-serif;
}
html body{
background-color: hsl(216, 12%, 8%);

}

.container{
  position: relative;
}

.card_section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  border-radius: 2em;
  border: none;
  background-color: #171e28;
  color: white;
  
}

.rating_card{
  z-index: 3;

}

.thankyou_card{
  z-index: 1;
}

.hide_card{
  visibility: hidden;
}

.rating_number{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
 
}

.star{
  background-color:  #272e38;
  padding: 0.7rem;
  border-radius: 50%;
}

.main-title{
  font-weight: 700;
  padding-bottom: 1.0rem;
  font-size: 30px;

}

.subtitle{
  font-size: 15px;
  padding-bottom: 1.0rem;
  color:hsl(217, 12%, 63%);


}

.rate{
 border-radius: 50%;
 background-color: #28313a;
 color:hsl(217, 12%, 63%);
 border: none;

}

.rate:hover{
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.rate:active{
  background-color: hsl(25, 97%, 53%);
}

.submit_btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: hsl(25, 97%, 53%);
  text-decoration: none;
  display: flex;
  font-size: 15px;
}

.submit_btn:hover {
  background: white;
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

.illustration{
  width: 180px;
  display: block;
  margin: 2rem auto;
}

.selection{
  text-align: center;
  color: hsl(25, 97%, 53%);
  font-size: 16px;
  background-color: #28313a;
  width: 12rem;
  margin: 1rem auto 2rem auto;
  padding: 0.7rem;
  border-radius: 28px;
}

.main_thanks, .subtitle_thanks{
  margin: auto !important;
  text-align: center !important;
  display: block;
  padding-bottom: 0.5rem;
}



@media(max-width: 376px){

  .card_section{
    width: 330px;
    padding: 1.5rem 2.7rem 1.5rem 2rem;

}

.submit_btn {

  padding: 0.3rem 6rem 0.3rem 6rem;
  margin: 2rem auto 1rem auto;

}

.subtitle{
  width: 280px;
  font-size: 13px;

}

.rate{
  width: 2.7rem;
  height: 2.7rem;
 }

}
@media(min-width: 376.02px){

  .card_section{
    width: 400px;
    padding: 1.5rem 2.7rem 1.5rem 2rem;

}

.submit_btn {

  padding: 0.5rem 8rem 0.5rem 8rem;
  margin: 2rem auto 1rem auto;

}

.rate{
  width: 3.3rem;
  height: 3.3rem;
 }


}